/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: 2px dashed #1e90ff;
    outline-offset: 2px;
}



/* CONTAINER */
.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.global-wrapper{
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-grow: 1;
}

/* SECTION HERO */
.hero {
    padding: 24px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.hero-content {
    max-width: 285px;
}
.hero-heading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    color: #fff;
}
.hero-link {
    display: inline-block;
    background-color: #1e90ff;
    color: #fff;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero-link:hover {
    background-color: rgba(30, 144, 255, 0.8);
}
.hero-link:active {
    background-color: rgba(30, 144, 255, 0.6);
}
.hero-link-inner {
    display: flex;
    padding: 12px 24px;
}

.hero-link-inner::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}
/* //SECTION HERO */


/* LATEST VIDEOS */
.latest-videos {
    background-color: #fff;
    padding: 54px;
    width: 100%;
    max-width: 600px;
}
.latest-videos-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.latest-videos-line {
    border: 0;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #999;
}
.latest-videos-list{
    margin-bottom: 24px;
}
.latest-videos-item:not(:last-child) {
    margin-bottom: 10px;
}

/* item latest videos */
.item-latest-videos {
    display: flex;
}
.item-latest-videos-img {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}
.item-latest-videos-info {
    padding: 16px;
}
.item-latest-videos-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: 400;
}
.item-latest-videos-link {
    display: inline-block;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
}
.item-latest-videos-link:hover{
    color: #1e90ff;
}
.item-latest-videos-link:active{
    opacity: 0.6;
}
.item-latest-videos-meta {
    display: flex;
    align-items: center;
    color: #888;
    font-size: 14px;
    line-height: normal;
}

.item-latest-videos-meta-item{
    display: flex;
    align-items: center;
}
.item-latest-videos-meta-item:not(:last-child) {
    margin-right: 24px;
}
.item-latest-videos-meta-item::before {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

.item-latest-videos-meta-item-published-date::before{
    background-image: url(../img/time.svg);
}
.item-latest-videos-meta-item-views::before{
    background-image: url(../img/eye.svg);
}

/* load more button */
.load-more-button{
    display: block;
    border: 0;
    padding: 12px;
    width: 100%;
    background-color: #1e90ff;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border-radius: 4px;
}
.load-more-button:hover{
    background-color: rgba(30, 144, 255, 0.8);
}
.load-more-button:active{
    background-color: rgba(30, 144, 255, 0.6);
}

/* //LATEST VIDEOS */




/* RETINA BG IMG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/hero-bg@2x.jpg);
    }
}
/* //RETINA BG IMG */